
.app-header
  h1: a(href='/') Big Text

  .search
    form(method='get', action='/q').search-bar
      input(type='text', name='username', minlength=5, maxlength=16, required, placeholder='Search by username').search-textbox
      label(for='search-submit').search-icon
      input(type='submit').search-submit

