
* {box-sizing: border-box;}
* {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}

html,
body,
.container {
  height: 100%;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: #777;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  color: #08f;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 95%;
}

#text {
  background-color: transparent;
  border: none;
  color: #000;
  margin: 0px;
  padding: 0px;
  font-size: 20%;
  width: 100%;
  text-align: center;
  outline: none;
  resize: none;
}

